In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [2]:
df = pd.read_csv("creditcard.csv")
df.head(5)

#class--0 represents normal transaction class--1 represents fraud transactions

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [3]:
df.tail(5)
#the time shows 172792 s which is almmost 2 days of transaction

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
284802,172786.0,-11.881118,10.071785,-9.834783,-2.066656,-5.364473,-2.606837,-4.918215,7.305334,1.914428,...,0.213454,0.111864,1.014480,-0.509348,1.436807,0.250034,0.943651,0.823731,0.77,0
284803,172787.0,-0.732789,-0.055080,2.035030,-0.738589,0.868229,1.058415,0.024330,0.294869,0.584800,...,0.214205,0.924384,0.012463,-1.016226,-0.606624,-0.395255,0.068472,-0.053527,24.79,0
284804,172788.0,1.919565,-0.301254,-3.249640,-0.557828,2.630515,3.031260,-0.296827,0.708417,0.432454,...,0.232045,0.578229,-0.037501,0.640134,0.265745,-0.087371,0.004455,-0.026561,67.88,0
284805,172788.0,-0.240440,0.530483,0.702510,0.689799,-0.377961,0.623708,-0.686180,0.679145,0.392087,...,0.265245,0.800049,-0.163298,0.123205,-0.569159,0.546668,0.108821,0.104533,10.00,0
284806,172792.0,-0.533413,-0.189733,0.703337,-0.506271,-0.012546,-0.649617,1.577006,-0.414650,0.486180,...,0.261057,0.643078,0.376777,0.008797,-0.473649,-0.818267,-0.002415,0.013649,217.00,0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [5]:
df.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [6]:
df['Class'].value_counts()
#this is an unbalanced dataset as about 90% of the data points are in normal transactions

0    284315
1       492
Name: Class, dtype: int64

In [11]:
legit = df[df.Class == 0]
fraud = df[df.Class == 1]
print(legit.shape)
print(fraud.shape)

(284315, 31)
(492, 31)

In [12]:
legit.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [13]:
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [14]:
df.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [15]:
# Building sample dataset for similaar distribution of normal transactions and fraudulent transactions

#we take 492 random datas from normal transactions to make the legal and fraud equal
legit_sample = legit.sample(n=492)
print(legit_sample)

            Time        V1        V2        V3        V4        V5        V6  \
179009  123883.0  2.067757  0.070016 -2.047993  0.436792  0.646766 -0.336392
154194  100910.0 -0.198733  0.919900 -0.270875 -1.223069  1.188376 -0.732620
192095  129538.0  2.116819 -0.327064 -1.664067 -0.951101  0.330985 -0.429581
167281  118593.0  2.075329  0.016205 -1.346729  0.064439  0.015409 -1.431462
225923  144449.0 -0.283602  0.669870 -0.498009 -0.769419  1.171719 -0.185507
...          ...       ...       ...       ...       ...       ...       ...
25658    33708.0 -7.106233 -3.855506 -0.453980 -0.269342  0.087631 -2.209990
276469  167115.0 -1.104527  0.999715  2.309864  0.705490 -0.617123  1.088168
31575    36419.0 -1.298669 -0.794686  2.250998  0.303839  0.606300 -0.321079
228743  145644.0 -0.084542  0.808370  0.391926 -0.022594  0.531845 -1.794243
116540   74321.0  1.249474 -0.060279  0.204229  0.457291 -0.042482  0.335996

              V7        V8        V9  ...       V21       V22       V23  \
179009 -0.017081 -0.089512  0.598774  ... -0.046941  0.175775 -0.100725
154194  1.053603 -0.573904 -0.893168  ...  0.079751  0.657067 -0.645448
192095 -0.022418 -0.097464  0.623640  ... -0.289614 -0.826355  0.308999
167281  0.339369 -0.482165  0.658877  ...  0.270044  1.012780 -0.032672
225923  1.164707  0.104006 -0.173868  ...  0.027334  0.073588 -0.185417
...          ...       ...       ...  ...       ...       ...       ...
25658  -2.638747  1.298074  1.008733  ... -0.088862  0.239200 -3.853706
276469 -0.732588  1.033752 -0.122210  ...  0.306703  0.909108 -0.321471
31575  -0.951604  0.625886  0.333747  ...  0.564854  1.184170  0.223338
228743  1.552393 -0.851255  0.156113  ...  0.288919  1.268863 -0.218091
116540 -0.243831  0.132199  0.376815  ... -0.321807 -0.811549 -0.083422

             V24       V25       V26       V27       V28  Amount  Class
179009 -1.098801  0.206177  0.681981 -0.043470 -0.050736    1.00      0
154194  0.628371  1.189005  0.276106 -0.166617 -0.235106   14.95      0
192095  0.102653 -0.333692  0.527752 -0.114249 -0.076943    4.00      0
167281  0.106390  0.365274 -0.359003  0.006063 -0.053447    4.76      0
225923  0.058009 -0.153960  0.307458  0.309374  0.216434   33.35      0
...          ...       ...       ...       ...       ...     ...    ...
25658   0.758895 -0.101657 -0.722263  0.496583 -1.988988   90.00      0
276469  0.690206  0.388074 -0.312276  0.267177  0.086466    7.98      0
31575  -0.032266 -0.818652 -0.524657  0.188234  0.217419   25.80      0
228743  0.863932 -0.688731 -0.284330 -0.193490 -0.215190   42.81      0
116540 -0.825181  0.454236  0.235749 -0.022893 -0.004221   12.95      0

[492 rows x 31 columns]

In [17]:
#concatenating the 2 dataframes

ndf = pd.concat([legit_sample,fraud],axis=0)
ndf.head(5)

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
179009,123883.0,2.067757,0.070016,-2.047993,0.436792,0.646766,-0.336392,-0.017081,-0.089512,0.598774,...,-0.046941,0.175775,-0.100725,-1.098801,0.206177,0.681981,-0.043470,-0.050736,1.00,0
154194,100910.0,-0.198733,0.919900,-0.270875,-1.223069,1.188376,-0.732620,1.053603,-0.573904,-0.893168,...,0.079751,0.657067,-0.645448,0.628371,1.189005,0.276106,-0.166617,-0.235106,14.95,0
192095,129538.0,2.116819,-0.327064,-1.664067,-0.951101,0.330985,-0.429581,-0.022418,-0.097464,0.623640,...,-0.289614,-0.826355,0.308999,0.102653,-0.333692,0.527752,-0.114249,-0.076943,4.00,0
167281,118593.0,2.075329,0.016205,-1.346729,0.064439,0.015409,-1.431462,0.339369,-0.482165,0.658877,...,0.270044,1.012780,-0.032672,0.106390,0.365274,-0.359003,0.006063,-0.053447,4.76,0
225923,144449.0,-0.283602,0.669870,-0.498009,-0.769419,1.171719,-0.185507,1.164707,0.104006,-0.173868,...,0.027334,0.073588,-0.185417,0.058009,-0.153960,0.307458,0.309374,0.216434,33.35,0

In [18]:
ndf['Class'].value_counts()

0    492
1    492
Name: Class, dtype: int64

In [19]:
ndf.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94953.493902,-0.111474,-0.018044,-0.022651,-0.005344,0.053709,-0.026643,0.021159,0.054451,-0.151866,...,-0.011419,-0.005465,-0.006484,0.011834,0.014147,-0.004563,-0.010112,0.013318,-0.015425,85.923577
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [21]:
X = ndf.drop(columns='Class',axis=1)
Y = ndf['Class']
print(X)
print(Y)

            Time        V1        V2        V3        V4        V5        V6  \
179009  123883.0  2.067757  0.070016 -2.047993  0.436792  0.646766 -0.336392
154194  100910.0 -0.198733  0.919900 -0.270875 -1.223069  1.188376 -0.732620
192095  129538.0  2.116819 -0.327064 -1.664067 -0.951101  0.330985 -0.429581
167281  118593.0  2.075329  0.016205 -1.346729  0.064439  0.015409 -1.431462
225923  144449.0 -0.283602  0.669870 -0.498009 -0.769419  1.171719 -0.185507
...          ...       ...       ...       ...       ...       ...       ...
279863  169142.0 -1.927883  1.125653 -4.518331  1.749293 -1.566487 -2.010494
280143  169347.0  1.378559  1.289381 -5.004247  1.411850  0.442581 -1.326536
280149  169351.0 -0.676143  1.126366 -2.213700  0.468308 -1.120541 -0.003346
281144  169966.0 -3.113832  0.585864 -5.399730  1.817092 -0.840618 -2.943548
281674  170348.0  1.991976  0.158476 -2.583441  0.408670  1.151147 -0.096695

              V7        V8        V9  ...       V20       V21       V22  \
179009 -0.017081 -0.089512  0.598774  ... -0.131860 -0.046941  0.175775
154194  1.053603 -0.573904 -0.893168  ...  0.449813  0.079751  0.657067
192095 -0.022418 -0.097464  0.623640  ... -0.149183 -0.289614 -0.826355
167281  0.339369 -0.482165  0.658877  ... -0.178841  0.270044  1.012780
225923  1.164707  0.104006 -0.173868  ... -0.082856  0.027334  0.073588
...          ...       ...       ...  ...       ...       ...       ...
279863 -0.882850  0.697211 -2.064945  ...  1.252967  0.778584 -0.319189
280143 -1.413170  0.248525 -1.127396  ...  0.226138  0.370612  0.028234
280149 -2.234739  1.210158 -0.652250  ...  0.247968  0.751826  0.834108
281144 -2.208002  1.058733 -1.632333  ...  0.306271  0.583276 -0.269209
281674  0.223050 -0.068384  0.577829  ... -0.017652 -0.164350 -0.295135

             V23       V24       V25       V26       V27       V28  Amount
179009 -0.100725 -1.098801  0.206177  0.681981 -0.043470 -0.050736    1.00
154194 -0.645448  0.628371  1.189005  0.276106 -0.166617 -0.235106   14.95
192095  0.308999  0.102653 -0.333692  0.527752 -0.114249 -0.076943    4.00
167281 -0.032672  0.106390  0.365274 -0.359003  0.006063 -0.053447    4.76
225923 -0.185417  0.058009 -0.153960  0.307458  0.309374  0.216434   33.35
...          ...       ...       ...       ...       ...       ...     ...
279863  0.639419 -0.294885  0.537503  0.788395  0.292680  0.147968  390.00
280143 -0.145640 -0.081049  0.521875  0.739467  0.389152  0.186637    0.76
280149  0.190944  0.032070 -0.739695  0.471111  0.385107  0.194361   77.89
281144 -0.456108 -0.183659 -0.328168  0.606116  0.884876 -0.253700  245.00
281674 -0.072173 -0.450261  0.313267 -0.289617  0.002988 -0.015309   42.53

[984 rows x 30 columns]
179009    0
154194    0
192095    0
167281    0
225923    0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 984, dtype: int64

In [22]:
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,random_state = 2,test_size=0.2,stratify=Y)
#stratify is used to make sure that Y values are distributed equally among train and test

In [23]:
model = LogisticRegression()

In [24]:
model.fit(X_train,Y_train)

LogisticRegression()

In [27]:
X_train_prediction = model.predict(X_train)
train_data_accuracy = accuracy_score(X_train_prediction,Y_train)
print(train_data_accuracy)

0.9466327827191868

In [29]:
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction,Y_test)
print(test_data_accuracy)

0.9187817258883249